@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: #272323;
  margin-left: 10%;
  margin-right: 10%;
}
